body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif  ;
    color: #f9faf8;
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
}

.header {
    width: 900px;
    margin: auto;
    padding: 8px;

    display: flex;
    justify-content: space-between;
    font-weight: 700;
    overflow: hidden;
}



ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    flex: none;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

.right-links {
    font-weight: 500;
    justify-items: end;
}

.left-links {
    justify-content: start;
}

.section {
    height: 410px;
    width: 100%;

}

.section.one {
    max-width: 900px;
    margin: auto;
    padding: 20px;

    display: flex;
    align-items: center;
    flex: auto;
}

img {
    width: 100%;
    border-radius: 8px;
    
    
}

.big-img {
    
    margin-left: 8px;
    margin-right: 48px;
    
}

.modal {
    margin-left: 32px;
}

h1 {
    margin-right: 50%;
}

.text {
    margin-bottom: 16px;
    font-size: 18px;
    color: #e5e7eb;

}

button {
    border-radius: 8px;
    cursor: pointer;
}

button.signup {
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 6px 24px; 
    font-weight: 700; 
    border: none;
      
}

.section.two {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    color: black;
    align-items: center;
    gap: 16px;
   
}

.card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.small {
    height: 100px;
    width: 100px;
    border: 1px #3882f6;
}

.card {
    max-width: 150px;
    height: auto;
}

.card-text {
    font-size: 14px;
    color: gray;
}

h2 {
    color: black;
}

.section.three {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #e5e7eb;
    color: #1f2937;
}
.quote-container {
    max-width: 600px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
}

.quote-author {
    padding: 12px;
    font-weight: 700;
    justify-self: end;
}

.section.four {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;

}

.banner-container {
    display: flex;
    justify-content: space-around;
    height: 124px;
    width: 800px;
    border-radius: 8px;
    background-color: #3882f6;

    align-items: center;
}

.signup.white {
    height: 32px;
    border: 1px solid #e5e7eb;
    align-self: center;
}

.banner-text {
    display: flex;
    flex-direction: column;
}

.banner-subtext {
    font-size: 14px;
    font-weight: 300;
}

.banner.head {
    font-size: 18px;
    font-weight: 700;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;

    font-size: 12px;
    background-color: #1f2937;
    color: #e5e7eb;
}

